<!-- BREADCRUMB -->
<div id='breadcrumb' class='section'>
    <!-- container -->
    <div class='container'>
        <!-- row -->
        <div class='row'>
            <div class='col-md-12'>
                <h3 class='breadcrumb-header'>Checkout</h3>
                <ul class='breadcrumb-tree'>
                    <li><a href='#'>Home</a></li>
                    <li class='active'>Checkout</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form id="form" method="POST" action="/checkout/">
					<div id="user-info">
					</div>
					
					<div id="shipping-info">
						<hr>
						<p>Thông tin vận chuyển:</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="address" placeholder="Address..">
						</div>
						<div class="form-field">
							<input class="form-control" type="number" name="phone" placeholder="Phone..">
						</div>
					</div>

					<hr>
					{{#if name}}
					<input id="form-button" class="btn btn-success btn-block" type="submit" value="Đặt hàng">
					{{else}}
					<p style="text-align: center"><a href="/me/login">Đăng nhập</a> để đặt hàng</p>
					{{/if}}
				</form>
			</div>	
		</div>

		<div class="col-lg-6">
            <div class='cart-body'>
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="/cart">&#x2190; Trở về giỏ hàng</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
                {{#each products}}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="/uploads/{{this.item.image}}"></div>
					<div style="flex:2"><p>{{this.item.name}}</p></div>
					<div style="flex:1"><p>{{this.item.price}}</p><sup>đ</sup></div>
					<div style="flex:1"><p>x{{this.quantity}}</p></div>
				</div>
                {{/each}}
				<h5>Total:  {{totalPrice}}<sup>đ</sup></h5>
			</div>
			</div>
		</div>
	</div>